<ul id="patterns">
  <li class="li-1" id="microbial-mat1"></li>
  <li class="li-2" id="microbial-mat2"></li>
  <li class="li-3" id="microbial-mat1"></li>
  <li class="li-4" id="microbial-mat2"></li>
  <li class="li-5" id="microbial-mat1"></li>
  <li class="li-6" id="microbial-mat2"></li>
  <li class="li-7" id="microbial-mat1"></li>
  <li class="li-8" id="microbial-mat2"></li>
  <li class="li-9" id="microbial-mat2"></li>

  <li class="li-10" id="microbial-mat1"></li>
  <li class="li-11" id="microbial-mat2"></li>
  <li class="li-12" id="microbial-mat1"></li>
  <li class="li-13" id="microbial-mat2"></li>
  <li class="li-14" id="microbial-mat1"></li>
  <li class="li-15" id="microbial-mat2"></li>
  <li class="li-16" id="microbial-mat1"></li>
  <li class="li-17" id="microbial-mat2"></li>
  <li class="li-18" id="microbial-mat2"></li>

  <li class="li-19" id="microbial-mat1"></li>
  <li class="li-20" id="microbial-mat2"></li>
  <li class="li-21" id="microbial-mat1"></li>
  <li class="li-22" id="microbial-mat2"></li>
  <li class="li-23" id="microbial-mat1"></li>
  <li class="li-24" id="microbial-mat2"></li>
  <li class="li-25" id="microbial-mat1"></li>
  <li class="li-26" id="microbial-mat2"></li>
  <li class="li-27" id="microbial-mat2"></li>

  <li class="li-28" id="microbial-mat1"></li>
  <li class="li-29" id="microbial-mat2"></li>
  <li class="li-30" id="microbial-mat1"></li>
  <li class="li-31" id="microbial-mat2"></li>
  <li class="li-32" id="microbial-mat1"></li>
  <li class="li-33" id="microbial-mat2"></li>
  <li class="li-34" id="microbial-mat1"></li>
  <li class="li-35" id="microbial-mat2"></li>
  <li class="li-36" id="microbial-mat2"></li>

  <li class="li-37" id="microbial-mat1"></li>
  <li class="li-38" id="microbial-mat2"></li>
  <li class="li-39" id="microbial-mat1"></li>
  <li class="li-40" id="microbial-mat2"></li>
  <li class="li-41" id="microbial-mat1"></li>
</ul>