<div class="cards">
  <h2></h2>
  <ul>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li>
      <p></p>
    </li>
    <li (click)="cardService.draw(1)">
      <p>
      </p>
    </li>
    <app-deck-card-block></app-deck-card-block>

  </ul>
</div>